<h1>About</h1>
<p>StoryBooks is an app where you can share your life experiences with others, or choose to keep them to yourself as a diary.</p>
<h4>Technologies Used</h4>
<p>NodeJS, Express, MongoDB and Mongoose, Google oauth2.0 using passport, and express-handlebars for the UI.</p>
<h5>Developed By:</h5>
<p>Khaleel Younis</p>